<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biz.rent.mybatis.dao.RentBookDao">
	<select id="selectAll" resultType="RentBookDTO">
		select * from tbl_rent_book order by rent_seq
	</select>
	<select id="findById" resultType="RentBookDTO">
		select * from tbl_rent_book where rent_seq = #{rent_seq} order by rent_seq
	</select>
	<select id="findByRent_Bcode" resultType="RentBookDTO">
		select * from tbl_rent_book where rent_bcode = #{rent_bcode,jdbcType=VARCHAR} order by rent_seq
	</select>
	<select id="findByRent_Ucode" resultType="RentBookDTO">
		select * from tbl_rent_book where rent_ucode = #{rent_ucode,jdbcType=VARCHAR} order by rent_seq
	</select>
	
	<insert id="insert">
		insert into tbl_rent_book(RENT_SEQ, RENT_DATE, RENT_RETURN_DATE, RENT_BCODE, RENT_UCODE, RENT_RETURN_YN, RENT_POINT)
		values(seq_rent_book.nextval, #{rent_date}, #{rent_return_date}, #{rent_bcode}, #{rent_ucode}, #{rent_return_yn}, #{rent_point})
	</insert>
	
	<update id="update">
		update tbl_rent_book set
			RENT_RETURN_YN = #{rent_return_yn,jdbcType=VARCHAR},
			RENT_POINT = #{rent_point}
		where RENT_SEQ = #{rent_seq}
	</update>
	
	<delete id="delete">
	</delete>
</mapper>